*.lnk
*.log
*.bat
*.md
*.txt
!Tobi's_README.txt

/extras
/internals
/mod

dll/active/ertransmogrify.dll
dll/active/eldenring_alt_saves.dll

dll/active/ersc_settings.ini
dll/active/ertransmogrify.ini
dll/optional/erd_tools.ini